.search {
  &-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-image: url("/assets/cubes.png");
  }

  &-form {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: "Poppins";
      font-size: 24px;
      padding: 2em;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-input {
    width: 300px;
    border: none;
    outline: none;
    margin-left: 15px;
    padding: 10px;
    &:focus {
      background-color: none;
    }
  }

  &-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ff385c;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}

.personalized-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 30px;
  padding: 2px;
  width: 350px;
  background-color: white;
}
