.games {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-auto-rows: auto;
  grid-gap: 2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
