.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 8em);
  width: 40vw;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 25px;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.name {
  font-size: 45px;
  font-family: "Poppins";
  line-height: 2;
  width: 90%;
  text-align: center;
  border-bottom: 1px solid gray;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.description {
  line-height: 2;
  max-width: fit-content;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}
