@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}
